@import '../../../../styles/variables';

.small_rectangle {
    width: 21.771vw; //418px
    height: 6.25vw; //120px
    background-color: $color-bg-lighter;
    border-radius: 28px;
    padding: 0 22px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .small_rectangle {
        width: 91.795vw; //358px
        height: 25.641vw; //100px
        background-color: $color-bg-lighter;
        border-radius: 28px;
        padding: 0 22px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        div:nth-child(1) {
            display: flex;
            flex-direction: row;
        }
    }
}
