@import '../../styles/variables';

.ourProduct {
    &__container {
        background-color: $color-white;
        padding-bottom: 5.208vw; //100px
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4.688vw; //90px
        position: relative;

        h2 {
            margin-bottom: 4.167vw; //80px
        }

        .catalog {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.625vw; //12px

            position: absolute;
            right: 10.2vw;
            top: 7.5vw;
        }
    }
}
