@import '../../../styles/variables';

.infoCenterItem {
    &__container {
        width: 21.771vw; //418px
        height: 28.021vw; //538px
        background-color: rgba(245, 245, 245, 1);
        border-radius: 28px;

        position: relative;

        div:nth-child(2) {
            padding: 28px 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p:nth-child(1) {
                color: $color-red;
                margin-bottom: 24px;
            }

            p:nth-child(2) {
                // margin-bottom: 40px;
            }

            div:nth-child(3) {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 48em) {
    .infoCenterItem {
        &__container {
            width: 80.769vw; //315px
            height: 111.026vw; //433px
            background-color: rgba(245, 245, 245, 1);
            border-radius: 28px;
    
            position: relative;
    
            div:nth-child(2) {
                padding: 28px 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                p:nth-child(1) {
                    color: $color-red;
                    margin-bottom: 24px;
                }
    
                p:nth-child(2) {
                    // margin-bottom: 40px;
                    
                }
    
                div:nth-child(3) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}