@import '../../../../styles/variables';

@media (min-width: 769px) {
    .second_item {
        width: 68.438vw; //1314px
        height: 40.729vw; //782px
        background-color: $color-bg-lighter;
        border-radius: 28px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 5.208vw; //100px
        gap: 1.667vw; //32px

        h2 {
            text-align: center;
            color: $color-white;
            transform: translateY(3.75vw); //72px
            width: 27.292vw; //716px
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: row;
            align-items: center;

            div:nth-child(1) {
                transform: translate(3.75vw, -5.833vw); //72px 112px
                h4 {
                    color: $color-white;
                    padding-bottom: 1.458vw; //28px;
                }

                div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
            }

            div:nth-child(3) {
                transform: translate(-1.6vw, -5.833vw); //72px 112px
                h4 {
                    color: $color-white;
                    padding-bottom: 1.458vw; //28px;
                    width: 14.115vw; //271px
                }
                button {
                    color: $color-red;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .second_item {
        width: 91.795vw; //358px
        height: 147.436vw; //575px
        background-color: $color-bg-lighter;
        border-radius: 28px;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: start;

        h2 {
            padding-top: 8.205vw; //32px
            padding-left: 6.154vw; //24p
            text-align: start;
            padding-bottom: 8.205vw; //ewpx
            color: $color-white;
        }

        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 6.154vw; //24p
            padding-bottom: 8.205vw; //ewpx

            div:nth-child(1) {
                h4 {
                    padding-bottom: 2.564vw; //10px
                    color: $color-white;
                }
                div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    color: $color-grey2;
                }
            }

            .image {
                position: absolute;
                bottom: 0;
                left: 5vw;
                width: 84.872vw; //331
                height: 81.026vw; //316px
            }

            div:nth-child(3) {
                h4 {
                    width: 61.026vw; //238px
                    color: $color-white;
                }
            }
        }
    }
}
