@import '../../../../styles/variables';

.first_item {
    width: 68.438vw; //1314px
    height: 31.25vw; //600px
    background-color: $color-bg-lighter;
    border-radius: 28px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .left_side {
        padding-left: 3.75vw; //72px
        h2 {
            color: $color-white;
            width: 29.427vw; //565px
            padding-bottom: 3.75vw; //72px
        }

        .container {
            display: flex;
            flex-direction: row;
            gap: 3.75vw; //72px

            .basic {
                h6 {
                    color: #7f8589;
                    text-transform: uppercase;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid #7f8589;
                    padding-bottom: 0.833vw; //16px

                    gap: 9.063vw; //174px

                    span {
                        color: #cbcecf;
                        padding-top: 0.833vw; //16px
                    }
                }
            }

            .extra {
                h6 {
                    color: #7f8589;
                    text-transform: uppercase;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid #7f8589;
                    padding-bottom: 0.833vw; //16px

                    gap: 3.438vw; //66px

                    span {
                        color: #cbcecf;
                        padding-top: 0.833vw; //16px
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (max-width: 48em) {
    .first_item {
        width: 91.795vw; //358px
        height: 221.795vw; //865px
        background-color: $color-bg-lighter;
        border-radius: 28px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        .left_side {
            h2 {
                color: $color-white;
                width: 73.846vw; //288x
                padding-bottom: 10.256vw; //40px
            }

            .container {
                display: flex;
                flex-direction: column;
                gap: 3.75vw; //72px

                .basic {
                    h6 {
                        color: #7f8589;
                        text-transform: uppercase;
                    }
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid #7f8589;
                        padding-bottom: 0.833vw; //16px

                        gap: 9.063vw; //174px

                        span {
                            color: #cbcecf;
                            padding-top: 0.833vw; //16px
                        }
                    }
                }

                .extra {
                    h6 {
                        color: #7f8589;
                        text-transform: uppercase;
                    }
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid #7f8589;
                        padding-bottom: 0.833vw; //16px

                        gap: 3.438vw; //66px

                        span {
                            color: #cbcecf;
                            padding-top: 0.833vw; //16px
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
