@import '../../../../styles/variables';

.circle {
    position: relative;
    width: 6.25vw; //120px
    height: 6.25vw; //120px
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: 0.974vw; //18.71px
    height: 1.094vw; //21px
    background: url('../../../../public/masthead/play.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    color: $color-white;
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 0.677vw; //13px
    transform-origin: 0 3.021vw; //58px
}

.letter-0,
.letter-1,
.letter-2,
.letter-3,
.letter-4 {
    color: $color-red;
}
