@import '../../styles/variables';

.btn {
    display: inline-flex;
    color: #ffffff;
    z-index: 100;

    border: 1px solid rgba(78, 80, 81, 1);
    border-radius: 52px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in;

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    &:hover {
        background-color: $color-bg;
    }
}
